In [64]:
import pandas as pd
import numpy as np

In [65]:
dataframe = pd.read_csv("./Data/iris.csv")

In [66]:
dataframe

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
144           6.7          3.3           5.7          2.5  virginica
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica

[149 rows x 5 columns]

In [67]:
dataframe.isna()

     sepal_length  sepal_width  petal_length  petal_width  species
0           False        False         False        False    False
1           False        False         False        False    False
2           False        False         False        False    False
3           False        False         False        False    False
4           False        False         False        False    False
..            ...          ...           ...          ...      ...
144         False        False         False        False    False
145         False        False         False        False    False
146         False        False         False        False    False
147         False        False         False        False    False
148         False        False         False        False    False

[149 rows x 5 columns]

In [68]:
dataframe.head(50)

    sepal_length  sepal_width  petal_length  petal_width species
0            5.1          3.5           1.4          0.2  setosa
1            4.9          3.0           1.4          0.2  setosa
2            4.7          3.2           1.3          0.2  setosa
3            4.6          3.1           1.5          0.2  setosa
4            5.0          3.6           1.4          0.2  setosa
5            5.4          3.9           1.7          0.4  setosa
6            4.6          3.4           1.4          0.3  setosa
7            5.0          3.4           1.5          0.2  setosa
8            4.4          2.9           1.4          0.2  setosa
9            4.9          3.1           1.5          0.1  setosa
10           5.4          3.7           1.5          0.2  setosa
11           4.8          3.4           1.6          0.2  setosa
12           4.8          3.0           1.4          0.1  setosa
13           4.3          3.0           1.1          0.1  setosa
14           5.8          4.0           1.2          0.2  setosa
15           5.7          4.4           1.5          0.4  setosa
16           5.4          3.9           1.3          0.4  setosa
17           5.1          3.5           1.4          0.3  setosa
18           5.7          3.8           1.7          0.3  setosa
19           5.1          3.8           NaN          0.3  setosa
20           5.4          3.4           NaN          0.2  setosa
21           5.1          3.7           NaN          0.4  setosa
22           4.6          3.6           1.0          0.2  setosa
23           5.1          3.3           1.7          0.5  setosa
24           4.8          3.4           1.9          0.2  setosa
25           5.0          3.0           1.6          0.2  setosa
26           5.0          3.4           1.6          0.4  setosa
27           5.2          3.5           1.5          0.2  setosa
28           5.2          3.4           1.4          0.2  setosa
29           4.7          3.2           1.6          0.2  setosa
30           4.8          3.1           1.6          0.2  setosa
31           5.4          3.4           1.5          0.4  setosa
32           5.2          4.1           1.5          0.1  setosa
33           5.5          4.2           1.4          0.2  setosa
34           4.9          NaN           1.5          0.1  setosa
35           5.0          NaN           1.2          0.2  setosa
36           5.5          NaN           1.3          0.2  setosa
37           4.9          3.1           1.5          0.1  setosa
38           4.4          3.0           1.3          0.2  setosa
39           5.1          3.4           1.5          0.2  setosa
40           5.0          3.5           1.3          0.3  setosa
41           4.5          2.3           1.3          0.3  setosa
42           4.4          3.2           1.3          0.2  setosa
43           5.0          3.5           1.6          0.6  setosa
44           5.1          3.8           1.9          0.4  setosa
45           4.8          3.0           1.4          0.3  setosa
46           5.1          3.8           1.6          0.2  setosa
47           4.6          3.2           1.4          0.2  setosa
48           5.3          3.7           1.5          0.2  setosa
49           5.0          3.3           1.4          0.2  setosa

In [69]:
dataframe.isna().sum()

sepal_length     4
sepal_width     10
petal_length    10
petal_width      4
species          0
dtype: int64

In [70]:
dataframe.dropna()

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
144           6.7          3.3           5.7          2.5  virginica
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica

[132 rows x 5 columns]

In [71]:
dataframe = dataframe.dropna()

In [72]:
dataframe = dataframe.sample(frac=1, replace=True, random_state=1)

In [73]:
test = dataframe.tail(44)

In [74]:
test.shape

(44, 5)

In [75]:
train = dataframe.head(88)

In [76]:
train.shape

(88, 5)

In [77]:
y_train = train['species']

In [78]:
X_train = train[['sepal_length', 'sepal_width', 'petal_length', 'petal_width']]

In [79]:
y_test = test['species']

In [80]:
X_test = test[['sepal_length', 'sepal_width', 'petal_length', 'petal_width']]

In [81]:
from sklearn.tree import DecisionTreeClassifier as dt

In [82]:
classifier = dt()
classifier.fit(X_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [83]:
pred = classifier.predict(X_test)

In [84]:
from sklearn.metrics import accuracy_score

accuracy = accuracy_score(y_test, pred)

In [126]:
def accuracy(true_values, predicted_values):
    total = len(true_values)
    pred = 0
    
    for i in range(total):
        if true_values[i] == predicted_values[i]:
            pred += 1
    acc = pred/total
    return acc

In [86]:
pred

array(['virginica', 'versicolor', 'versicolor', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica', 'setosa', 'virginica',
       'versicolor', 'versicolor', 'versicolor', 'setosa', 'setosa',
       'virginica', 'setosa', 'virginica', 'virginica', 'virginica',
       'setosa', 'virginica', 'versicolor', 'versicolor', 'virginica',
       'setosa', 'versicolor', 'setosa', 'setosa', 'versicolor',
       'versicolor', 'virginica', 'setosa', 'setosa', 'versicolor',
       'virginica', 'versicolor', 'versicolor', 'virginica', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'virginica'],
      dtype=object)

In [87]:
np.array(y_test)

array(['virginica', 'versicolor', 'versicolor', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica', 'setosa', 'virginica',
       'versicolor', 'versicolor', 'versicolor', 'setosa', 'setosa',
       'virginica', 'setosa', 'virginica', 'virginica', 'virginica',
       'setosa', 'virginica', 'versicolor', 'versicolor', 'virginica',
       'setosa', 'virginica', 'setosa', 'setosa', 'versicolor',
       'versicolor', 'virginica', 'setosa', 'setosa', 'versicolor',
       'virginica', 'versicolor', 'versicolor', 'virginica', 'versicolor',
       'virginica', 'versicolor', 'versicolor', 'virginica'], dtype=object)

In [88]:
y_test = np.array(y_test)

In [89]:
accuracy(y_test, pred)

0.9545454545454546

In [90]:
from sklearn.metrics import accuracy_score

accuracy = accuracy_score(y_test, pred)

In [92]:
accuracy

0.9545454545454546

In [93]:
dataframe = pd.read_csv("./Data/iris.csv")

In [94]:
dataframe

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
144           6.7          3.3           5.7          2.5  virginica
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica

[149 rows x 5 columns]

In [95]:
dataframe.fillna(method='ffill')

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
144           6.7          3.3           5.7          2.5  virginica
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica

[149 rows x 5 columns]

In [96]:
dataframe = dataframe.fillna(method='ffill')

In [97]:
dataframe = dataframe.sample(frac=1, replace=True, random_state=1)

In [98]:
test = dataframe.tail(50)

In [99]:
test.shape

(50, 5)

In [100]:
train = dataframe.head(99)

In [101]:
train.shape

(99, 5)

In [102]:
y_train = train['species']

In [103]:
X_train = train[['sepal_length', 'sepal_width', 'petal_length', 'petal_width']]

In [104]:
y_test = test['species']

In [105]:
X_test = test[['sepal_length', 'sepal_width', 'petal_length', 'petal_width']]

In [106]:
classifier = dt()
classifier.fit(X_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [107]:
pred = classifier.predict(X_test)

In [108]:
y_test = np.array(y_test)

In [109]:
from sklearn.metrics import accuracy_score

accuracy = accuracy_score(y_test, pred)

In [110]:
accuracy

1.0

In [111]:
dataframe = pd.read_csv("./Data/iris.csv")

In [112]:
dataframe.fillna(method='bfill')

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
144           6.7          3.3           5.7          2.5  virginica
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica

[149 rows x 5 columns]

In [113]:
dataframe = dataframe.fillna(method='bfill')

In [114]:
dataframe = dataframe.sample(frac=1, replace=True, random_state=1)

In [115]:
test = dataframe.tail(50)

In [116]:
train = dataframe.head(99)

In [117]:
y_train = train['species']

In [118]:
X_train = train[['sepal_length', 'sepal_width', 'petal_length', 'petal_width']]

In [119]:
y_test = test['species']

In [120]:
X_test = test[['sepal_length', 'sepal_width', 'petal_length', 'petal_width']]

In [121]:
classifier = dt()
classifier.fit(X_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [122]:
pred = classifier.predict(X_test)

In [123]:
y_test = np.array(y_test)

In [127]:
accuracy(y_test, pred)

1.0

In [125]:
accuracy

1.0

In [128]:
dataframe = pd.read_csv("./Data/iris.csv")

In [129]:
mean = dataframe[['sepal_length']].mean()
dataframe[['sepal_length']].fillna(mean)

     sepal_length
0             5.1
1             4.9
2             4.7
3             4.6
4             5.0
..            ...
144           6.7
145           6.7
146           6.3
147           6.5
148           6.2

[149 rows x 1 columns]

In [130]:
mean

sepal_length    5.847586
dtype: float64

In [ ]:
dataframe1 = dataframe['sepal_length'].fillna(mean)

In [132]:
dataframe['sepal_length'] = dataframe1

dataframe['sepal_width'] = dataframe1

dataframe['petal_length'] = dataframe1

dataframe['petal_width'] = dataframe1

In [140]:
dataframe

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          5.1           5.1          5.1     setosa
1             4.9          4.9           4.9          4.9     setosa
2             4.7          4.7           4.7          4.7     setosa
3             4.6          4.6           4.6          4.6     setosa
4             5.0          5.0           5.0          5.0     setosa
..            ...          ...           ...          ...        ...
144           6.7          6.7           6.7          6.7  virginica
145           6.7          6.7           6.7          6.7  virginica
146           6.3          6.3           6.3          6.3  virginica
147           6.5          6.5           6.5          6.5  virginica
148           6.2          6.2           6.2          6.2  virginica

[149 rows x 5 columns]

In [144]:
test.shape

(50, 5)

In [145]:
y_train = train['species']

In [146]:
X_train = train[['sepal_length', 'sepal_width', 'petal_length', 'petal_width']]

In [147]:
y_test = test['species']

In [148]:
X_test = test[['sepal_length', 'sepal_width', 'petal_length', 'petal_width']]

In [149]:
classifier = dt()
classifier.fit(X_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [168]:
pred = classifier.predict(X_test)

In [154]:
y_test = np.array(y_test)

In [156]:
accuracy(y_test, pred)

1.0

In [157]:
dataframe = pd.read_csv("./Data/iris.csv")

In [159]:
median = dataframe[['sepal_length']].median()
dataframe[['sepal_length']].fillna(median)

     sepal_length
0             5.1
1             4.9
2             4.7
3             4.6
4             5.0
..            ...
144           6.7
145           6.7
146           6.3
147           6.5
148           6.2

[149 rows x 1 columns]

In [160]:
median

sepal_length    5.8
dtype: float64

In [161]:
dataframe1 = dataframe['sepal_length'].fillna(median)

In [162]:
dataframe['sepal_length'] = dataframe1

dataframe['sepal_width'] = dataframe1

dataframe['petal_length'] = dataframe1

dataframe['petal_width'] = dataframe1

In [163]:
y_train = train['species']

In [164]:
X_train = train[['sepal_length', 'sepal_width', 'petal_length', 'petal_width']]

In [165]:
y_test = test['species']

In [166]:
X_test = test[['sepal_length', 'sepal_width', 'petal_length', 'petal_width']]

In [167]:
classifier = dt()
classifier.fit(X_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [169]:
pred = classifier.predict(X_test)

In [170]:
y_test = np.array(y_test)

In [171]:
accuracy(y_test, pred)

1.0

In [172]:
dummy_dict = {
    "Method Name" : ['Removing Rows', 'Bfill', 'Ffill', 'Mean', 'Median'],
    "Accuracy" : [".955", '1.0', '1.0', '1.0', '1.0'],
}


new_dataframe = pd.DataFrame.from_dict(dummy_dict)
new_dataframe

     Method Name Accuracy
0  Removing Rows     .955
1          Bfill      1.0
2          Ffill      1.0
3           Mean      1.0
4         Median      1.0

In [173]:
new_dataframe.to_csv("PandaMethod.csv")